body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.signup-heading {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: #282828;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.container:hover {
    background-color: #333;
}

.signup-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: 20px solid black;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    color: #000;
    font-weight: bold;           
}

.center-button {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}